In [4]:
from dbnomics import fetch_series, fetch_series_by_api_link
source = "BIS/cbpol/D." # get the daily policy rate 
ticker = source + 'JP'  # for any specific country

In [5]:
rate = fetch_series(ticker)

In [7]:
rate.head()

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,FREQ,REF_AREA,Frequency,Reference area
0,daily,BIS,cbpol,Policy rates,D.JP,Daily – Japan,1946-01-01,1946-01-01,3.29,3.29,D,JP,Daily,Japan
1,daily,BIS,cbpol,Policy rates,D.JP,Daily – Japan,1946-01-02,1946-01-02,3.29,3.29,D,JP,Daily,Japan
2,daily,BIS,cbpol,Policy rates,D.JP,Daily – Japan,1946-01-03,1946-01-03,3.29,3.29,D,JP,Daily,Japan
3,daily,BIS,cbpol,Policy rates,D.JP,Daily – Japan,1946-01-04,1946-01-04,3.29,3.29,D,JP,Daily,Japan
4,daily,BIS,cbpol,Policy rates,D.JP,Daily – Japan,1946-01-05,1946-01-05,3.29,3.29,D,JP,Daily,Japan

In [8]:
rate[ rate.original_period == "2021-10-15"]

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,FREQ,REF_AREA,Frequency,Reference area
27681,daily,BIS,cbpol,Policy rates,D.JP,Daily – Japan,2021-10-15,2021-10-15,-0.1,-0.1,D,JP,Daily,Japan

In [10]:
import yfinance as yf
start_date = "2021-07-01"
end_date = "2021-10-01"

idx = "^DJI"

Index = yf.download(idx, # ticker
interval="1d", # daily frequency
start=start_date, end=end_date) # sampling period
Index.tail() # preview the last five observations

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-09-24,34762.308594,34857.058594,34648.078125,34798.000000,34798.000000,254310000
2021-09-27,34739.269531,35061.121094,34739.269531,34869.371094,34869.371094,289480000
2021-09-28,34747.699219,34798.210938,34254.648438,34299.988281,34299.988281,379020000
2021-09-29,34360.078125,34580.421875,34305.960938,34390.718750,34390.718750,290350000
2021-09-30,34467.980469,34557.371094,33833.320312,33843.921875,33843.921875,354830000

In [12]:
import pandas as pd
Index = pd.DataFrame(Index['Adj Close'].rename(idx))
Index.head()

                    ^DJI
Date
2021-06-30  34502.511719
2021-07-01  34633.531250
2021-07-02  34786.351562
2021-07-06  34577.371094
2021-07-07  34681.789062

In [13]:
page = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')
page[1] # the second html table contains the information we need

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.38%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.29%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.84%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.76%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.01%
5,Caterpillar Inc.,NYSE,CAT,Construction and Mining,1991-05-06,NaN,3.73%
6,Chevron Corporation,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.07%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.03%
8,The Coca-Cola Company,NYSE,KO,Soft Drink,1987-03-12,Also 1932-05-26 to 1935-11-20,1.01%
9,Dow Inc.,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.10%
10,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,7.65%
11,The Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.65%
12,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,NaN,4.12%
13,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.64%
14,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,1.03%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.04%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.13%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.51%
18,Merck & Co.,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.48%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.72%
20,"Nike, Inc.",NYSE,NKE,Apparel,2013-09-20,NaN,2.93%
21,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.61%
22,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,5.43%
23,The Travelers Companies,NYSE,TRV,Insurance,2009-06-08,NaN,2.89%
24,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.88%
25,Verizon Communications,NYSE,VZ,Telecommunication,2004-04-08,NaN,0.97%
26,Visa Inc.,NYSE,V,Financial services,2013-09-20,NaN,4.34%
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.89%
28,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.69%
29,The Walt Disney Company,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,3.18%

In [14]:
page = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')
page[1] # the second html table contains the information we need

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.38%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.29%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.84%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.76%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.01%
5,Caterpillar Inc.,NYSE,CAT,Construction and Mining,1991-05-06,NaN,3.73%
6,Chevron Corporation,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.07%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.03%
8,The Coca-Cola Company,NYSE,KO,Soft Drink,1987-03-12,Also 1932-05-26 to 1935-11-20,1.01%
9,Dow Inc.,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.10%
10,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,7.65%
11,The Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,6.65%
12,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,NaN,4.12%
13,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.64%
14,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,1.03%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.04%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.13%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.51%
18,Merck & Co.,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.48%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.72%
20,"Nike, Inc.",NYSE,NKE,Apparel,2013-09-20,NaN,2.93%
21,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.61%
22,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,5.43%
23,The Travelers Companies,NYSE,TRV,Insurance,2009-06-08,NaN,2.89%
24,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.88%
25,Verizon Communications,NYSE,VZ,Telecommunication,2004-04-08,NaN,0.97%
26,Visa Inc.,NYSE,V,Financial services,2013-09-20,NaN,4.34%
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.89%
28,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.69%
29,The Walt Disney Company,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,3.18%

In [15]:
constituents = page[1]['Symbol'] # we only need tickers
constituents.head()

0     MMM
1     AXP
2    AMGN
3    AAPL
4      BA
Name: Symbol, dtype: object

In [16]:
for i in constituents:
    print(i) # print out the ticker so we know the downloading progress
    prc = yf.download(i, interval="1d", start=start_date, end=end_date)
    prc = pd.DataFrame(prc['Adj Close']) # select adjusted close price only
    prc.columns = [i] # rename the column with the ticker of the stock
    try:
        df_prc = pd.concat([df_prc, prc], axis=1) 
    except:
        df_prc = prc # create the dataframe for the first ticker
        stk = yf.Ticker(i)
    try:
        stk.info['floatShares']
    except:
        stk.info['floatShares'] = None
    try:
        stk.info['sharesOutstanding']
    except:
        stk.info['sharesOutstanding'] = None
    if stk.info['floatShares']:
        mcap = prc * stk.info['floatShares']
    elif stk.info['sharesOutstanding']:
        mcap = prc * stk.info['sharesOutstanding']
    else:
        mcap = prc * (stk.info['marketCap']/stk.info['previousClose'])
    try:
        df_mcap = pd.concat([df_mcap, mcap], axis=1)
    except:
        df_mcap = mcap

MMM
[*********************100%***********************]  1 of 1 completed
AXP
[*********************100%***********************]  1 of 1 completed
AMGN
[*********************100%***********************]  1 of 1 completed
AAPL
[*********************100%***********************]  1 of 1 completed
BA
[*********************100%***********************]  1 of 1 completed
CAT
[*********************100%***********************]  1 of 1 completed
CVX
[*********************100%***********************]  1 of 1 completed
CSCO
[*********************100%***********************]  1 of 1 completed
KO
[*********************100%***********************]  1 of 1 completed
DOW
[*********************100%***********************]  1 of 1 completed
GS
[*********************100%***********************]  1 of 1 completed
HD
[*********************100%***********************]  1 of 1 completed
HON
[*********************100%***********************]  1 of 1 completed
IBM
[*********************100%***********************]  1 of 1 completed
INTC
[*********************100%***********************]  1 of 1 completed
JNJ
[*********************100%***********************]  1 of 1 completed
JPM
[*********************100%***********************]  1 of 1 completed
MCD
[*********************100%***********************]  1 of 1 completed
MRK
[*********************100%***********************]  1 of 1 completed
MSFT
[*********************100%***********************]  1 of 1 completed
NKE
[*********************100%***********************]  1 of 1 completed
PG
[*********************100%***********************]  1 of 1 completed
CRM
[*********************100%***********************]  1 of 1 completed
TRV
[*********************100%***********************]  1 of 1 completed
UNH
[*********************100%***********************]  1 of 1 completed
VZ
[*********************100%***********************]  1 of 1 completed
V
[*********************100%***********************]  1 of 1 completed
WBA
[*********************100%***********************]  1 of 1 completed
WMT
[*********************100%***********************]  1 of 1 completed
DIS
[*********************100%***********************]  1 of 1 completed

In [18]:
PWI = df_prc.sum(axis=1) # sum up prices at the same time period
PWI = pd.DataFrame(PWI.rename('PWI')) # put the result in a datafram

                    PWI
Date
2021-09-24  5280.903675
2021-09-27  5291.713886
2021-09-28  5205.260212
2021-09-29  5219.048553
2021-09-30  5136.079494

In [22]:
import numpy as np
import pandas_datareader as pdr

data_list = pdr.famafrench.get_available_datasets()
data_list = pd.DataFrame(data_list, columns=['Data'])

In [23]:
industries = pdr.get_data_famafrench('5_Industry_Portfolios', start='1-1-2000', end='12-31-2020')

In [25]:
type(industries)

dict

In [26]:
industries.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 'DESCR'])

In [29]:
industries.values()

dict_values([         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000-01  -7.95  -4.96  -4.54   7.54  -4.69
2000-02  -5.11  -4.75  13.29  -2.92  -7.12
2000-03  11.03   8.19   4.63   0.30  14.08
2000-04  -2.04   1.57 -10.13   5.28  -3.12
2000-05  -0.57   1.31 -10.76   3.95   3.40
...        ...    ...    ...    ...    ...
2020-08  10.07   3.15  10.00   2.45   7.20
2020-09  -4.01  -2.24  -4.82  -1.47  -2.98
2020-10  -2.64  -0.03  -2.02  -4.42  -1.88
2020-11  11.44  12.91  11.16   9.51  15.76
2020-12   4.09   2.65   4.99   4.77   5.27

[252 rows x 5 columns],          Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000-01   1.35   3.79  11.47  23.75  -0.88
2000-02   3.12   3.67  33.10  42.79   1.07
2000-03   4.26   6.24  -3.44  -9.00   1.87
2000-04  -5.34  -1.83 -19.95 -13.62  -3.80
2000-05  -4.92  -0.38 -14.20  -7.31  -2.33
...        ...    ...    ...    ...    ...
2020-08   9.79   3.39   4.02   1.41   5.59
2020-09  -1.96  -4.15  -2.97  -1.14  -3.50
2020-10   2.54   0.97   0.23  -2.71   4.04
2020-11  22.36  23.25  22.36  18.58  18.43
2020-12   6.13   9.22  11.49   9.74   9.01

[252 rows x 5 columns],       Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000  -0.04  11.63 -37.76  37.92  12.80
2001   3.47  -7.10 -23.23 -12.19  -5.72
2002 -13.34  -9.96 -36.19 -22.57 -15.56
2003  25.68  29.86  38.85  21.41  33.64
2004  11.24  21.99   5.65   0.58  15.62
2005   1.91  16.15  -0.22   4.76   6.95
2006  14.59  20.67  14.95   8.13  15.41
2007   2.11  24.32  12.11   3.79  -9.77
2008 -25.73 -35.39 -40.78 -17.23 -47.28
2009  30.47  22.54  49.90  21.19  20.44
2010  21.50  21.01  16.85   4.70  16.02
2011   9.05   4.47   0.49  10.87  -9.89
2012  16.30   8.81  16.73  20.35  22.27
2013  32.99  29.18  33.65  41.19  40.86
2014  12.63   3.38  14.48  24.46  12.34
2015   6.81 -11.64   3.83   5.80  -1.15
2016   5.48  20.35  13.98  -1.85  20.17
2017  18.68  18.17  29.50  22.20  21.52
2018  -3.58 -11.10  -0.59   4.82  -9.23
2019  25.88  21.21  41.85  20.20  29.50
2020  37.64   0.26  42.65  18.31   6.88,       Cnsmr  Manuf   HiTec   Hlth   Other
Date
2000 -18.65  13.82  -41.23   28.78  -3.64
2001  39.83   6.86   10.45   46.87  29.99
2002  -4.22 -10.25  -30.97  -32.89   2.39
2003  54.84  57.77  115.11  116.43  58.88
2004  23.23  34.17   11.63   15.95  23.72
2005   2.72  17.62   -3.53   -3.54   6.01
2006  18.47  21.37   12.98   11.33  17.34
2007 -12.67   8.27   -0.55   -4.84 -16.79
2008 -48.14 -46.89  -50.72  -40.06 -41.45
2009  98.93  62.04   96.80   98.16  25.95
2010  30.75  34.77   34.87   21.97  21.35
2011  -6.73  -6.02  -13.44  -10.95 -10.41
2012  21.99   8.97   10.64   25.44  25.82
2013  43.72  37.33   50.77   56.15  42.26
2014   4.86  -8.46    2.41   14.20   7.92
2015  -9.58 -22.43   -3.48    2.35  -3.05
2016  16.17  33.62   17.30  -11.21  30.99
2017   6.46  10.37   25.78   25.49  14.58
2018 -14.14 -22.04   -6.48  -22.48 -13.86
2019  17.49  12.04   27.63   25.96  26.25
2020  42.47  18.60   65.97   63.85  12.33,          Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000-01   1169   1067   1368    575   1944
2000-02   1161   1055   1349    569   1924
2000-03   1154   1045   1336    567   1884
2000-04   1144   1037   1322    564   1861
2000-05   1133   1030   1307    558   1848
...        ...    ...    ...    ...    ...
2020-08    481    557    633    719   1023
2020-09    479    554    630    718   1021
2020-10    479    550    628    712   1014
2020-11    479    548    627    710   1012
2020-12    475    548    624    706   1011

[252 rows x 5 columns],             Cnsmr    Manuf     HiTec    Hlth     Other
Date
2000-01   1863.32  2447.08   4201.67  2235.95  1440.74
2000-02   1724.89  2340.42   4053.03  2427.17  1383.75
2000-03   1643.47  2237.28   4622.61  2361.57  1305.72
2000-04   1834.43  2406.92   4879.02  2321.67  1495.25
2000-05   1811.07  2451.35   4395.69  2467.21  1456.06
...           ...      ...       ...      ...      ...
2020-08  12344.23  7837.49  19959.78  4733.39  6895.73
2020-09  13628.75  8094.48  22037.83  4845.20  7395.74
2020-10  13059.65  7942.45  21034.62  4752.32  7180.11
2020-11  12707.13  7957.86  20625.15  4534.52  7050.80
2020-12  14223.39  8951.70  22998.28  4986.10  8158.00

[252 rows x 5 columns],       Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000   0.26   0.36   0.12   0.10   0.35
2001   0.26   0.37   0.31   0.12   0.35
2002   0.26   0.39   0.44   0.17   0.46
2003   0.29   0.41   0.36   0.18   0.47
2004   0.28   0.35   0.32   0.21   0.44
2005   0.30   0.35   0.33   0.23   0.48
2006   0.30   0.34   0.32   0.25   0.47
2007   0.28   0.32   0.31   0.24   0.47
2008   0.35   0.35   0.36   0.29   0.75
2009   0.40   0.55   0.43   0.34   0.87
2010   0.36   0.51   0.39   0.42   0.84
2011   0.31   0.41   0.34   0.35   0.67
2012   0.30   0.47   0.34   0.33   0.74
2013   0.27   0.44   0.32   0.27   0.62
2014   0.26   0.38   0.28   0.23   0.55
2015   0.24   0.44   0.26   0.20   0.54
2016   0.23   0.41   0.28   0.22   0.60
2017   0.24   0.38   0.24   0.20   0.48
2018   0.22   0.38   0.21   0.19   0.46
2019   0.22   0.41   0.20   0.19   0.46
2020   0.22   0.48   0.18   0.19   0.57,       Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000   0.25   0.35   0.12   0.12   0.33
2001   0.32   0.37   0.30   0.12   0.37
2002   0.27   0.39   0.30   0.14   0.43
2003   0.32   0.46   0.43   0.21   0.54
2004   0.30   0.38   0.32   0.21   0.45
2005   0.30   0.38   0.31   0.23   0.47
2006   0.32   0.37   0.33   0.24   0.48
2007   0.30   0.37   0.33   0.24   0.47
2008   0.31   0.35   0.31   0.26   0.53
2009   0.47   0.56   0.51   0.35   0.84
2010   0.35   0.47   0.36   0.38   0.83
2011   0.32   0.44   0.35   0.39   0.65
2012   0.32   0.47   0.38   0.36   0.84
2013   0.31   0.48   0.36   0.32   0.74
2014   0.27   0.42   0.29   0.25   0.57
2015   0.24   0.40   0.26   0.21   0.55
2016   0.24   0.47   0.29   0.22   0.56
2017   0.24   0.37   0.26   0.23   0.51
2018   0.21   0.39   0.22   0.20   0.44
2019   0.24   0.45   0.25   0.21   0.53
2020   0.20   0.52   0.18   0.19   0.42, '5 Industry Portfolios\n---------------------\n\nThis file was created by CMPT_IND_RETS using the 202109 CRSP database. It contains value- and equal-weighted returns for 5 industry portfolios. The portfolios are constructed at the end of June. The annual returns are from January to December. Missing data are indicated by -99.99 or -999. Copyright 2021 Kenneth R. French\n\n  0 : Average Value Weighted Returns -- Monthly (252 rows x 5 cols)\n  1 : Average Equal Weighted Returns -- Monthly (252 rows x 5 cols)\n  2 : Average Value Weighted Returns -- Annual (21 rows x 5 cols)\n  3 : Average Equal Weighted Returns -- Annual (21 rows x 5 cols)\n  4 : Number of Firms in Portfolios (252 rows x 5 cols)\n  5 : Average Firm Size (252 rows x 5 cols)\n  6 : Sum of BE / Sum of ME (21 rows x 5 cols)\n  7 : Value-Weighted Average of BE/ME (21 rows x 5 cols)'])

In [30]:
industries[1]

         Cnsmr  Manuf  HiTec  Hlth   Other
Date
2000-01   1.35   3.79  11.47  23.75  -0.88
2000-02   3.12   3.67  33.10  42.79   1.07
2000-03   4.26   6.24  -3.44  -9.00   1.87
2000-04  -5.34  -1.83 -19.95 -13.62  -3.80
2000-05  -4.92  -0.38 -14.20  -7.31  -2.33
...        ...    ...    ...    ...    ...
2020-08   9.79   3.39   4.02   1.41   5.59
2020-09  -1.96  -4.15  -2.97  -1.14  -3.50
2020-10   2.54   0.97   0.23  -2.71   4.04
2020-11  22.36  23.25  22.36  18.58  18.43
2020-12   6.13   9.22  11.49   9.74   9.01

[252 rows x 5 columns]

In [37]:
correlation = industries[1]['Manuf'].corr(industries[1]['HiTec'])

In [38]:
correlation

0.74751368899339